.container{
    display: grid;
    grid-template-rows: 15vh 75vh 10vh;
    /* background-image:  */
    background-image:   linear-gradient(to bottom right, #ffdde16a, #843f3fa0);;
    border-right: 40vw solid #843f3fe5;
}