@font-face {
    font-family: sacramento;
    src: url(../font/Sacramento-Regular.ttf);
}

@font-face {
    font-family: benne-regular;
    src: url(../font/Benne-Regular.otf);
}

@font-face {
    font-family: clementPDab;
    src: url(../font/ClementePDab-HairlineItalic.ttf);
}

@font-face {
    font-family: lelushka;
    src: url(../font//lelushka-dd3m.otf);
}


.home-container{
    display: grid;
    grid-template-columns: 45vw 45vw 10vw;
}

.home-description{
    display: grid;
    place-items: center;
}

.img-container{
    display:flex;
}

.whey{
    max-height: 30vh;
    max-height: 30vw;
}

.whey img{
    height: 30vh;
    height: 30vw;
}

.mass{
    max-height: 20vh;
    max-height: 20vw;
    position: absolute;
    top: 31%;
    left: 62.5%
}

.mass img{
    height: 20vh;
    height: 20vw;
}

.home-description h1{
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:80px;
}

.home-description h4{
    font-family: sacramento;
    font-size: 40px;
    position: relative;
    top: 10vh;
    color: rgba(255, 196, 0, 0.843);
}

.home-description p{
    font-family: helvic;
    font-weight: 300;
    font-size: 20px;
    position: relative; 
    top: -5vh;
}

.home-description .explore{
    cursor: pointer;
    height: 100%;
    background-color: #843f3fe5;
    border-radius: 6px;
    color: white;
    display: grid;
    font-size: 20px;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.explore-container{
    width: 50%;
    height: 7vh;

}

.home-social{
    display: grid;
    grid-template-rows: 90% auto;
}

.social-icons{
    display: grid;
    grid-template-rows: 40% 40% auto;
    margin-right: 0;
}
