@font-face {
    font-family: lelushka;
    src: url(../font//lelushka-dd3m.otf);
}

.navbar-container{
    display: grid;
    grid-template-columns: 60vw 40vw;
    padding-top: 2vh;
}

.navbar-list-container{
    width: 100%;
}

.navbar-list{
    width: 70%;
    display: flex;
    position: relative;
    justify-content: space-around;
    list-style: none;
}
li{
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 17px;
    font-family: helvic;
    transition: 0.3s;
}

li:hover{
    color:rgba(255, 196, 0, 0.843)
}

.logo-wrapper{
    max-height: 5vh;
    max-width: 10vh;
    border-radius: 100px;
    font-family: lelushka;
    font-size: 20px;
    margin-left: 5vw;
    margin-top: 1vh;
    border: 2px solid black;
    border-style: dotted;
    display: grid;
    place-items: center;
}

.logo-wrapper img{
    display: inline;
    height: 5vh;
    /* width: 10vw; */
    border-radius: 100px;
}