@font-face {
    font-family: lelushka;
    src: url(../font//lelushka-dd3m.otf);
}

.navbar-container{
    display: grid;
    grid-template-columns: 60vw 40vw;
    padding-top: 2vh;
}

.navbar-list-container{
    width: 100%;
    display: flex
}

.navbar-list{
    width: 70%;
    display: flex;
    position: relative;
    justify-content: space-around;
    list-style: none;
}
li{
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 17px;
    font-family: helvic;
    transition: 0.3s;
}

li:hover{
    color:rgba(255, 196, 0, 0.843)
}

.logo-wrapper{
    max-height: 5vh;
    max-width: 10vh;
    border-radius: 100px;
    font-family: lelushka;
    font-size: 20px;
    margin-left: 5vw;
    margin-top: 1vh;
    border: 2px solid black;
    border-style: dotted;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.logo-wrapper-products{
    max-height: 5vh;
    max-width: 10vh;
    border-radius: 100px;
    font-family: lelushka;
    font-size: 20px;
    margin-left: 5vw;
    margin-top: 1vh;
    border: 2px solid rgba(0, 0, 0, 0.734);
    border-style: dotted;
    display: grid;
    place-items: center;
    background-color: rgba(255, 196, 0, 0.673);
    color: white;
    transition: 0.5s;
}

.logo-wrapper img{
    display: inline;
    height: 5vh;
    border-radius: 100px;
}

.products-div{
    display: grid;
    grid-template-rows: 5vh auto;
}

.products-list{

    display: none;
}

.products-div:hover .products-list{
    position: fixed;
    top: 7%;
    display: grid;
    grid-template-columns: auto ;
    height: 20vh;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    padding: 1%;
    font-size: 12px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.537), rgba(255, 255, 255, 0.074));
    border-radius: 5px;
    padding-top: 2%;
}

.products-div:hover .products-list a:hover{
    cursor: pointer;
    color: rgba(255, 196, 0, 0.673)
}